/* md-sidenav {
  background-color: lightgray;
} */

.menu-active  {
  text-decoration: underline;
  
}

a {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 5px;
}
a:hover{
  color: fuchsia
}
h4 {
  margin-bottom: 0px;
}

.spacer {
  flex: 1 1 auto;
}