<md-toolbar color="primary">
  <span><a href="/home">Brown County Library Events</a></span>
  <span class="spacer"></span>

  <span *ngIf="!loggedIn"><button md-button (click)="loginWithGoogle()">Login with Google</button> </span>
  <span *ngIf="!loggedIn" ><button md-button (click)="login()">Login Anonymously</button></span>
  <span *ngIf="loggedIn"><button md-button (click)="logout()">Logout</button></span>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav" [opened]="true" color="accent" style="background-color:lightgray">
    <h4>Events</h4>
    <md-nav-list>
      <md-list>
        <md-list-item><a md-list-item routerLink="events" routerLinkActive="menu-active">Events</a></md-list-item>
        <md-list-item><a md-list-item routerLink="new-event" routerLinkActive="menu-active">New Event</a></md-list-item>
      </md-list>
    </md-nav-list>
    <h4>Instructors</h4>
    <md-nav-list>
      <md-list>
        <md-list-item><a md-list-item routerLink="instructors" routerLinkActive="menu-active">Instructors</a></md-list-item>
        <md-list-item><a md-list-item routerLink="new-instructor" routerLinkActive="menu-active">New Instructor</a></md-list-item>
      </md-list>
    </md-nav-list>
    <h4>Schedule</h4>
    <md-nav-list>
      <md-list>
        <!-- <md-list-item><a md-list-item routerLink="scheduled-events" routerLinkActive="menu-active">Scheduled Events</a></md-list-item> -->
        <md-list-item><a md-list-item routerLink="new-schedule" routerLinkActive="menu-active">Schedule an Event</a></md-list-item>
      </md-list>
    </md-nav-list>
  </md-sidenav>

  <div layout="column" layout-md="column" style="width: 800px; padding-left: 150px;">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
<div>
  <h3>Messages</h3>
  <h3>{{(message | async)?.notification.title}}</h3>

  <p>{{ message | async | json }}</p>
</div>